a2wsgi==1.10.10
apport_python_hook==0.1.0
atheris==3.0.0
backports.statistics==0.1.0
boto3==1.42.73
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.0.0
chardet==7.2.0
colorama==0.4.6
cython==3.2.4
email_validator==2.3.0
eval_type_backport==0.3.1
fqdn==1.5.1
gunicorn==25.1.0
h2==4.3.0
httptools==0.7.1
hypothesis==6.151.9
importlib_resources==6.5.2
ipython==9.7.0
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
js==1.0
jsonpath_ng==1.8.0
jsonpointer==3.0.0
langchain_ollama==1.0.1
langchain_openai==1.1.11
langgraph==1.1.3
mypy_boto3_secretsmanager==1.42.8
nest_asyncio==1.6.0
numpy==2.4.3
objgraph==3.6.2
outcome==1.3.0.post0
protobuf==7.34.1
psutil==7.0.0
Pygments==2.19.2
PyInstaller==6.19.0
pyodide==0.0.2
pyOpenSSL==26.0.0
pyperf==2.10.0
pytest==9.0.2
python_bcrypt==0.3.2
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rich==14.3.3
setuptools==80.9.0
simplejson==3.20.2
sniffio==1.3.1
socksio==1.0.0
streamlit==1.55.0
thread==2.0.6
tomli==2.3.0
typer==0.24.1
uri_template==1.3.0
watchfiles==1.1.1
webcolors==25.10.0
winloop==0.6.0
wsproto==1.3.2
zstandard==0.25.0
